:global {
  .order-management {
    .order-search {
      padding: 0 15px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }
    .order-table {
      padding: 0 10px 10px 10px;
      .ant-table-summary {
        color: red;
      }
    }
    .order-content {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 0 50px 0 100px;
      .order-card {
        width: 300px;
        margin: 0 22px 20px 0;
        .desk-info-empty {
          margin-bottom: 15px;
          height: 94px;
        }
        .desk-info {
          margin-bottom: 15px;
          span {
            margin-right: 10px;
          }
        }
        .action-area {
          margin: 0 auto;
          padding: 10px 5px 0;
          border-top: 1px solid #f4f4f4;
        }
      }
      //.order-card:nth-child(3n+3) {
      //  margin-right: 0;
      //}
    }
    .order-card {
      padding: 0 10px 10px 10px;
    }
    .order-card-content-use {
      background-color: #888888;
    }
    .order-card-content {
      background-color: #FFFFFF;
    }
    .order-card-desk {
      font-size: 50px;
    }
  }
  .add-order-submit-button-area {
    display: flex;
    justify-content: flex-end;
    .cancel {
      margin-left: 10px;
    }
  }
  .settlement-order-detail-list{
    .title-list {
      display: flex;
      font-size: larger;
      span {
        width: (100% / 6);
        display: flex;
        justify-content: center;
      }
      span:first-child {
        justify-content: flex-start;
      }
      span:last-child {
        justify-content: flex-end;
      }
    }
    .value-list {
      display: flex;
      span {
        width: (100% / 6);
        display: flex;
        justify-content: center;
      }
      span:first-child {
        justify-content: flex-start;
      }
      span:last-child {
        justify-content: flex-end;
      }
    }
    .total-price {
      display: flex;
      justify-content: flex-end;
      span {
        margin-left: 20px;
      }
      margin: 10px 0;
    }
  }
}
