:global {
  .account-management {
    .account-search {
      padding: 0 15px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }
    .account-table {
      padding: 0 10px 10px 10px;
      .ant-table-summary {
        color: red;
      }
    }
  }
  .add-account-submit-button-area {
    display: flex;
    justify-content: flex-end;
    .cancel {
      margin-left: 10px;
    }
  }
}
