:global {
  .script-management {
    .script-search {
      padding: 0 15px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }
    .script-table {
      padding: 0 10px 10px 10px;
    }
  }
  .add-script-submit-button-area {
    display: flex;
    justify-content: flex-end;
    .cancel {
      margin-left: 10px;
    }
  }
}
