:global {
  .store-management {
    .store-search {
      padding: 0 15px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }
    .store-table {
      padding: 0 10px 10px 10px;
    }
  }
  .add-store-submit-button-area {
    display: flex;
    justify-content: flex-end;
    .cancel {
      margin-left: 10px;
    }
  }
}
